footer
  .footer_container
    background #38394c
    padding 20px 0
    .footer_info
      display flex
      justify-content space-between
      .info
        display flex
        flex-wrap wrap
        ul
          margin 30px
          li
            list-style none
            margin 10px 0
            a
              text-decoration none
              color #c0c0c4
              transition 0.3s
              &:hover
                color white
      .location
        .place
          margin-top 30px
          p
            color #c0c0c4
        .social
          i
            color #c0c0c4
            margin 0 10px
  .footer_site
    background #343447
    .logo
      img
        margin-top 25px
    .private
      p
        color #999999
        margin 10px
      p:last-child
        font-size 11px
        
  