*
  margin 0
  padding 0
header
  .header
    .liner
      height 1px
      background #eee
      width 100%
    .top_menu
      background #38394c
      border-radius 3px
      ul
        display flex
        flex-wrap wrap
        justify-content space-around
        margin 0
        li
          list-style none
          padding 10px 15px
          a
            text-decoration none
            color #9b9ca3
    .logo_lang
      padding 40px 0
      display flex
      justify-content space-between
      .lang
        ul
          display flex
          li
            list-style none
            margin-left 10px
            a
              text-decoration none
              color #868790
              
  .navbar
    margin 0
    border none
    .navbar-header
      .navbar-toggle
        float none
        left 45%
    .icon-bar
      background black
    .navbar-collapse
      padding 0
      .nav
        width 100%
        display flex
        justify-content space-between
        @media screen and (max-width: 768px)
          display block
          margin 0 0 10px 0
        li
          a
            color #868790
    
            